@import url('https://fonts.googleapis.com/css?family=Courgette');

body {
    background-image: url(/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Courgette";
    font-size: 13px;
}
.header .header-title {
    left: -35%;
    background-image: url(/logo.png);
}
.header .username {
    display: none;
}
.header .header-menu .btn-menu {
    display: none;
}
.list-table {
    border: none;
}
.header .header-menu{
	margin-right: 200px;
}
.header-menu:after {
    content: "Dionysis's List";
    font-size: 30px;
    color: #333;
    animation: on-off 2s infinite ease-in-out;
    font-weight: 900;
    text-shadow: 9px 8px 12px;
    position: fixed;
}

/* Anime List Header */
.status-menu-container .status-menu .status-button {
    font-family: "Courgette";
}
.status-menu-container {
    background-color: #fff;
    border-bottom: none;
}
.status-menu-container .status-menu .status-button:after {
    background-color: transparent;
}
.status-menu-container .status-menu .status-button.on {
    color: #333;
    opacity: 0.5;
}
.status-menu-container .status-menu .status-button.on:hover {
    color: #333;
}
.status-menu-container .status-menu .status-button {
    color: #555;
}
.status-menu-container .status-menu .status-button:hover {
    color: #000;
    text-decoration: underline;
}
.status-menu-container .search-container #search-button {
    color: #999;
}
.status-menu-container .search-container #search-button:hover {
    color: #d20;
}

/* Anime List */
.list-unit .list-status-title {
    background-color: transparent;
    border-left: none;
    border-right: none;
}
.list-table .list-table-header .header-title {
    background: none;
    border-bottom: #444 5px solid;
}
.list-table .list-table-header .header-title .link {
    font-size: 15px;
    color: #333;
    text-decoration: none;
}
.list-table .list-table-header .header-title .link.sort:hover {
    font-size: 15px;
    color: #000;
    text-decoration: none;
}
.list-table .list-table-header .header-title .link.sort {
    color: #333;
}
.list-table .list-table-header .header-title.started {
    color: #000;
}
.list-table > tbody:nth-of-type(2n+1) {
    background-color: transparent;
}
.list-container {
    background-color: transparent;
    border: none;
}
.list-unit .list-status-title .text,
.list-unit .list-status-title .text:hover {
    cursor: default;
    color: transparent;
    padding-right: 100px;
}

/* Anime */
.list-table .list-table-data .data.status {
    width: 30px;
}
.list-table .list-table-data .data.status.watching, .list-table .list-table-data .data.status.watching:after {
    content: 'Watching';
    color: #1aa111;
    font-weight: bold;
    background-color: transparent;
    padding-top: 30px;
}
.list-table .list-table-data .data.status.completed, .list-table .list-table-data .data.status.completed:after {
    background-color: transparent;
    content: 'Completed';
    right: 2px;
    color: #b7ab07;
    font-weight: bold;
    padding-top: 30px;
}
.list-table .list-table-data .data.number {
    display: table-cell; 
    padding: 4px 0; 
    text-align: left;
/*    vertical-align: top; */
    bottom: -5px;
    background: transparent;
    color: transparent;
}
.list-table .list-table-data .data.status.onhold, .list-table .list-table-data .data.status.onhold:after {
    background-color: transparent;
    content: 'On Hold';
    color: #07b7ab;
    font-weight: bold;
    padding-top: 20px;
}
.list-table .list-table-data .data.status.dropped {
    background-color: transparent;
}
.list-table .list-table-data .data.status.dropped:after {
    content: "Dropped";
    color: #d20;
    font-weight: bold;
    padding-top: 30px;
}
.list-table .list-table-data .data.status.plantowatch, .list-table .list-table-data .data.status.plantowatch:after {
    background-color: transparent;
    content: 'Plan to watch';
    text-align: left;
    color: #5307b7;
    font-weight: bold;
}
.list-table .list-table-data .data.status {
    display: inline-block;
}
.list-table .list-table-data .data.image .image {
    width: 48px;
    height: 68px;
    border: none;
}
.list-table .list-table-data .data.status.dropped {
    background-color: transparent;
    padding-top: 30px;
}
.list-table .list-table-data .data.title .link:hover {
    animation: shake 1s;
}
.list-table .list-table-header .header-title.number {
    width: 30px;
}
.list-table .list-table-data .data {
    border-bottom: none;
    color: #333;
    cursor: default;
}
.list-table .list-table-data .data {
    display: table-cell;
    padding: 4px 0;
    text-align: right;
    vertical-align: middle;
}
.list-table .list-table-data .data.title .link {
    font-size: 1.15em;
    font-weight: bold;
}
.list-table .list-table-data .data a {
    color: #000;
}
.list-table .list-table-data .data a:hover {
    color: #777;
}

/* List Menu */
.list-menu-float .icon-menu.profile {
    display: none;
}
.list-menu-float {
    border: none;
}
.list-menu-float .icon-menu .text {
    font-size: 1.1em;
    color: #333;
    font-family: "Courgette";
}
.list-menu-float .icon-menu svg.icon {
    position: absolute;
    fill: #333;
}
.list-menu-float .icon-menu svg.icon:hover {
    color: #777;
    opacity: 0.6;
}
.list-menu-float .icon-menu {
    background-color: transparent;
}
.list-menu-float .icon-menu:hover {
    background-color: transparent;
    color: #333;
}
.list-menu-float .icon-menu.setting:hover .text .link-list-setting, .list-menu-float .icon-menu.setting:hover .text .link-style-setting {
    background-color: transparent;
    color: #333;
}
.list-menu-float .icon-menu.setting:hover{
  background: transparent;
}

.list-menu-float .icon-menu.logout:hover{
  background: transparent;
}

.list-menu-float .icon-menu.quick-add:hover{
  background: transparent;
}

.list-menu-float .icon-menu.export,
.list-menu-float .icon-menu.history,
.list-menu-float .icon-menu.manga-list,
.list-menu-float .icon-menu.anime-list{
  display: none;
}

/* Other */
.list-container {
    background-color: transparent;
    border: none;
    right: 13%;
}
footer {
    display:none;
}

/* Animations */
.list-table .list-table-data .data.status.dropped {
    background-color: transparent;
    padding-top: 30px;
}
.list-table .list-table-data .data.title .link:hover {
    animation: shake 1s;
}
.status-menu-container .status-menu .status-button:active{
    animation: rotate .1s;
}

@keyframes on-off{
0%{text-decoration: underline;}
50%{text-decoration: none;}
}

@keyframes shake{
0%{padding-left: 5px;font-size: 16px;}
10%{padding-left: 0;font-size: 16px;}
20%{padding-left: 5px;font-size: 16px;}
30%{padding-left: 0;font-size: 16px;}
}

@keyframes rotate{
0%{font-size:10px;transform:rotate(180deg)}
}
