@import url("https://rawgit.com/Brotat0/cssdub/master/CORNERED%20ICONS.css");              /* cornered icons */
@import url("https://rawgit.com/Brotat0/mahcss/master/noroletest.css");                    /* removed original roles */



                    /*              */
                    /*              */
					/* User Colours */
					/*              */
					/*              */
#main_avatar_room #main-user-list-room #avatar-list li .username {
	color: #f4b942;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li .username {
	color: #f4b942;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li .user-role {
        color:#f4b942;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li .user-role {
	color: #f4b942;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.dj .username {
	color: #1687ff !important;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.dj .username {
	color: #1687ff;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.dj .user-role {
        color:#1687ff!important;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.dj .user-role {
	color: #1687ff !important;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.resident-dj .username {
	color: #e2440b!important;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.resident-dj .username {
	color:  #e2440b;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.resident-dj .user-role {
        color:#e2440b!important;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.resident-dj .user-role {
	color: #e2440b !important;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.vip .username {
	color: #71f442 !important;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.vip .username {
        color:#71f442;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.vip .user-role {
        color:#71f442!important;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.vip .user-role {
	color: #71f442 !important;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.mod .username {
	color: #ffffff!important;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.mod .username {
	color: #ffffff;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.mod .user-role {
	color:#ffffff!important;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.mod .user-role {
	color: #ffffff!important;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.manager .username {
	color: #df92e5!important;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.manager .user-role {
    color:#df92e5;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.manager .username {
	color: #df92e5!important; 
	font-family: "Times New Roman", sans-serif!important
}

#main_avatar_room #chat-user-list-room #avatar-list li.manager .user-role{
	color: #df92e5!important;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.co-owner .user-role {
        color: #ff162a!important;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.co-owner .username {
	color: #ff162a;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.co-owner .username {
	color: #ff162a!important; 
	font-family: "Times New Roman", sans-serif!important
}

#main_avatar_room #chat-user-list-room #avatar-list li.co-owner .user-role{
	color: #ff162a!important;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.creator .user-role {
        color:#d20000!important;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.creator .username {
	color: #d20000;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.creator .username {
	color: #d20000!important; 
	font-family: "Times New Roman", sans-serif!important
}

#main_avatar_room #chat-user-list-room #avatar-list li.creator .user-role{
	color: #d20000!important;
	font-family: "Times New Roman", sans-serif!important;
}


#main_avatar_room #main-user-list-room #avatar-list li.admin .username {
	color: #e04af7!important;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.admin .username {
	color: #e04af7;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.admin .user-role {
        color:#e04af7!important;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.admin .user-role {
	color: #e04af7!important;
	font-family: "Times New Roman", sans-serif!important;
}
                    /*             */
                    /*             */
					/* User Badges */
					/*             */
					/*             */
#chat .chat-container .chat-messages .chat-main li.resident-dj .username .user-role-icon,
#main_avatar_room #main-user-list-room #avatar-list LI.resident-dj  .user-role-icon
{
    background-image: url(http://i.imgur.com/Qi5HlNO.png);
    display: inline-block;
}

#chat .chat-container .chat-messages .chat-main li.vip .username .user-role-icon,
#main_avatar_room #main-user-list-room #avatar-list LI.vip  .user-role-icon
{
    background-image: url(http://i.imgur.com/pwZZwCD.png);
    display: inline-block;
}

#chat .chat-container .chat-messages .chat-main li.mod .username .user-role-icon,
#main_avatar_room #main-user-list-room #avatar-list LI.mod  .user-role-icon
{
    background-image: url(http://i.imgur.com/J1OIsf1.png);
    display: inline-block;
}

#chat .chat-container .chat-messages .chat-main li.manager .username .user-role-icon,
#main_avatar_room #main-user-list-room #avatar-list LI.manager  .user-role-icon
{
    background-image: url(http://i.imgur.com/EGS5d0u.png);
    display: inline-block;
}

#chat .chat-container .chat-messages .chat-main li.co-owner .username .user-role-icon,
#main_avatar_room #main-user-list-room #avatar-list LI.co-owner  .user-role-icon
{
    background-image: url(http://i.imgur.com/3MlQIXk.png);
    display: inline-block;
}
#chat .chat-container .chat-messages .chat-main li.creator .username .user-role-icon,
#main_avatar_room #main-user-list-room #avatar-list LI.creator  .user-role-icon
{
    background-image: url(http://i.imgur.com/tTtPrAZ.png);
    display: inline-block;
}

#chat .chat-container .chat-messages .chat-main li.admin .username .user-role-icon,
#main_avatar_room #main-user-list-room #avatar-list LI.admin  .user-role-icon
{
    background-image: url(http://i.imgur.com/9OYSGX5.png);
    display: inline-block;
}
                    /*            */
                    /*            */
					/* Current DJ */
					/*   colour   */
					/*            */
#chat .chat-container .chat-messages .chat-main li.manager .username:before,
#player-controller .left ul li.infoContainer .infoContainerInner .currentDJSong.manager .username:before
{
   display: inline-block;
   font-family: 'Italic', sans-serif!important;
   font-style: normal;
   font-weight: normal;
   font-size:smaller;
   margin-right:0.5em;
   color: pink;
}


#chat .chat-container .chat-messages .chat-main li.co-owner .username:before,
#player-controller .left ul li.infoContainer .infoContainerInner .currentDJSong.co-owner .username:before
{
   display: inline-block;
   font-family: 'Italic', sans-serif!important;
   font-style: normal;
   font-weight: normal;
   font-size:smaller;
   margin-right:0.5em;
   color: red;
}


#chat .chat-container .chat-messages .chat-main li.creator .username:before,
#player-controller .left ul li.infoContainer .infoContainerInner .currentDJSong.creator .username:before
{
   display: inline-block;
   font-family: 'Italic', sans-serif!important;
   font-style: normal;
   font-weight: normal;
   font-size:smaller;
   margin-right:0.5em;
   color: red;
}


#chat .chat-container .chat-messages .chat-main li.mod .username:before,
#player-controller .left ul li.infoContainer .infoContainerInner .currentDJSong.mod .username:before
{
	display: inline-block;
   font-family: 'Italic', sans-serif!important;
   font-style: normal;
   font-weight: normal;
   font-size:smaller;
   margin-right:0.5em;
   color: blue;
}


#chat .chat-container .chat-messages .chat-main li.resident-dj .username:before,
#player-controller .left ul li.infoContainer .infoContainerInner .currentDJSong.resident-dj .username:before
{
	display: inline-block;
   font-family: 'Italic', sans-serif!important;
   font-style: normal;
   font-weight: normal;
   font-size:smaller;
   margin-right:0.5em;
   color: orange;
}
                    /*            */
                    /*            */
					/*  DJ roles  */
					/*            */
					/*            */
#chat .chat-container .chat-messages .chat-main li.admin .username:first-child:after
{
    margin-left: .25rem;    
    transition-property: opacity;
    opacity: 0;
    content: "Admin";
}
#chat .chat-container .chat-messages .chat-main li.admin .username:hover:first-child:after
{
    transition-property: opacity;
    opacity: 0.8;
}

#main_avatar_room #main-user-list-room #avatar-list li.admin  .username:after 
{
    margin-left: .25rem;    
    transition-property: opacity;
    font-weight: normal;
    opacity: 0.8;
    content: "Admin";
}
#main_avatar_room #main-user-list-room #avatar-list li.admin .username:hover:after
{
    transition-property: opacity;
    opacity: 1;
}

#chat .chat-container .chat-messages .chat-main li.creator .username:first-child:after
{
    margin-left: .25rem;    
    transition-property: opacity;
    opacity: 0;
    content: "Owner";
}
#chat .chat-container .chat-messages .chat-main li.creator .username:hover:first-child:after
{
    transition-property: opacity;
    opacity: 0.8;
}

#main_avatar_room #main-user-list-room #avatar-list li.creator  .username:after 
{
    margin-left: .25rem;    
    transition-property: opacity;
    font-weight: normal;
    opacity: 0.8;
    content: "Owner";
}
#main_avatar_room #main-user-list-room #avatar-list li.creator .username:hover:after
{
    transition-property: opacity;
    opacity: 1;
}

#chat .chat-container .chat-messages .chat-main li.co-owner .username:first-child:after
{
    margin-left: .25rem;    
    transition-property: opacity;
    opacity: 0;
    content: "Co-Owner";
}
#chat .chat-container .chat-messages .chat-main li.co-owner .username:hover:first-child:after
{
    transition-property: opacity;
    opacity: 0.8;
}

#main_avatar_room #main-user-list-room #avatar-list li.co-owner  .username:after 
{
    margin-left: .25rem;    
    transition-property: opacity;
    font-weight: normal;
    opacity: 0.8;
    content: "Co-Owner";
}
#main_avatar_room #main-user-list-room #avatar-list li.co-owner .username:hover:after
{
    transition-property: opacity;
    opacity: 1;
}

#chat .chat-container .chat-messages .chat-main li.manager .username:first-child:after
{
    margin-left: .25rem;    
    transition-property: opacity;
    opacity: 0;
    content: "Manager";
}
#chat .chat-container .chat-messages .chat-main li.manager .username:hover:first-child:after
{
    transition-property: opacity;
    opacity: 0.8;
}

#main_avatar_room #main-user-list-room #avatar-list li.manager  .username:after 
{
    margin-left: .25rem;    
    transition-property: opacity;
    font-weight: normal;
    opacity: 0.8;
    content: "Manager";
}
#main_avatar_room #main-user-list-room #avatar-list li.manager .username:hover:after
{
    transition-property: opacity;
    opacity: 1;
}

#chat .chat-container .chat-messages .chat-main li.mod .username:first-child:after
{
    margin-left: .25rem;    
    transition-property: opacity;
    opacity: 0;
    content: "Moderator";
}
#chat .chat-container .chat-messages .chat-main li.mod .username:hover:first-child:after
{
    transition-property: opacity;
    opacity: 0.8;
}

#main_avatar_room #main-user-list-room #avatar-list li.mod  .username:after 
{
    margin-left: .25rem;    
    transition-property: opacity;
    font-weight: normal;
    opacity: 0.8;
    content: "Moderator";
}
#main_avatar_room #main-user-list-room #avatar-list li.mod .username:hover:after
{
    transition-property: opacity;
    opacity: 1;
}

#chat .chat-container .chat-messages .chat-main li. .username:first-child:after
{
    margin-left: .25rem;    
    transition-property: opacity;
    opacity: 0;
    content: "VIP";
}
#chat .chat-container .chat-messages .chat-main li.vip .username:hover:first-child:after
{
    transition-property: opacity;
    opacity: 0.8;
}

#main_avatar_room #main-user-list-room #avatar-list li.vip  .username:after 
{
    margin-left: .25rem;    
    transition-property: opacity;
    font-weight: normal;
    opacity: 0.8;
    content: "VIP";
}
#main_avatar_room #main-user-list-room #avatar-list li.vip .username:hover:after
{
    transition-property: opacity;
    opacity: 1;
}

#chat .chat-container .chat-messages .chat-main li.resident-dj .username:first-child:after
{
    margin-left: .25rem;    
    transition-property: opacity;
    opacity: 0;
    content: "Resident-DJ";
}
#chat .chat-container .chat-messages .chat-main li.resident-dj .username:hover:first-child:after
{
    transition-property: opacity;
    opacity: 0.8;
}

#main_avatar_room #main-user-list-room #avatar-list li.resident-dj  .username:after 
{
    margin-left: .25rem;    
    transition-property: opacity;
    font-weight: normal;
    opacity: 0.8;
    content: "Resident-DJ";
}

#chat .chat-container .chat-messages .chat-main li.dj .username:first-child:after
{
    margin-left: .25rem;    
    transition-property: opacity;
    transition-duration: .25s;
    opacity: 0;
    content: "Member";
}
#chat .chat-container .chat-messages .chat-main li.dj .username:hover:first-child:after
{
    transition-property: opacity;
    transition-duration: .25s;
    opacity: 0.8;
}

#main_avatar_room #main-user-list-room #avatar-list LI.dj  .username:after 
{
    margin-left: .25rem;    
    transition-property: opacity;
    transition-duration: .5s;
    font-weight: normal;
    opacity: 0.8;
    content: "Member";
}
#main_avatar_room #main-user-list-room #avatar-list LI.dj .username:hover:after
{
    transition-property: opacity;
    opacity: 1;
}

#chat .chat-container .chat-messages .chat-main li .username:first-child:after
{
    margin-left: .25rem;    
    transition-property: opacity;
    opacity: 0;
    content: "Pleb";
}
#chat .chat-container .chat-messages .chat-main li .username:hover:first-child:after
{
    transition-property: opacity;
    opacity: 0.8;
}

#main_avatar_room #main-user-list-room #avatar-list LI  .username:after 
{
    margin-left: .25rem;    
    transition-property: opacity;
    font-weight: normal;
    opacity: 0.8;
    content: "Pleb";
}
#main_avatar_room #main-user-list-room #avatar-list LI .username:hover:after
{
    transition-property: opacity;
    opacity: 1;
}
                    /*            */
                    /*            */
					/*   Video    */
					/*   player   */
					/*            */
/* Video player */
#main_player {
    background: rgba(20,20,20,0.66);
    border-radius: 0rem 0rem 0rem 0rem;
    border: 1px solid #878c8e;
}
#main_player .player_header {
    background: inherit;
    color: rgba(20,20,20,0.66);
    opacity: 1;
    border-radius: 0rem 0rem 0rem 0rem;
    padding-top: 12px;
    top: -49px;
}
#main_player .player_header span {
    background: rgba(0,0,0,0);
    color: #ffffff;
    opacity: 1;
    font-size: 15.2px;
    font-size: .95rem;
    line-height: .8;
    border-radius: 0;
}
#main_player .player_header .active {
    padding-bottom: 14px;
}
#main_player .player_header span:hover:not(.active) {
    background: rgba(0,0,0,0);
    color: #d10000;
}
#main_player .player_header span.active {
    background: rgba(0,0,0,0);
    color: #d20000;
    opacity: 1;
}
#main_player .player_header span.edit-room i {
    line-height: 0.95;
    left: -0.5px;
}
#main_player .player_header span.skip-el {
    margin-right: 15px;
}
#main_player .player_header #topbanner {
    margin-top: -6rem;
}
#main-room .left_section {
    margin-top: 2rem;
}
/* skip button */
#main_player .player_header span.skip-el {
   	float: right;
    	margin-right: 15px;
    	color: white;
	background-color: red;
	font-family: Helvetica;
	border: 0.5px solid #ffffff;
}

#main_player .player_header span.skip-el:hover {
    	margin-right: 15px;
	color: red;
	background-color: white!important;
	font-family: Helvetica;
	border: 0.5px solid red;
}

		/* Playlist browser */
/* Header */
#browser .browser-content {
    background: rgba(60,60,60,0.92);
}
#browser .browser-content .browser-content-header .close-browser,
#browser .browser-content .browser-content-header {
    background: rgba(50,50,50,1);
    color: #ddd;
}
#browser .browser-content .browser-content-header .form input {
    background: rgba(70,70,70,1);
    color: #ddd;
}
#browser .browser-content .browser-content-header .form .music-type-select,
#browser .browser-content .browser-content-header .form .music-type-select .music-type-dropdown {
    background: rgba(50,50,50,1);
    color: #ddd;
}
#browser .browser-content .browser-content-header .form .music-type-select .music-type-dropdown span:hover {
    background: #444;
    color: #fff;
}
#browser .browser-content .browser-content-header .form .music-type-select .music-type-dropdown {
    margin-top: 2.5rem;
}
#browser .browser-content .browser-content-header .form .music-type-select .music-type-dropdown span {
    height: 2.5rem;
}
#browser .browser-content .browser-content-header .close-browser:hover {
    background: #444;
    color: #fff;
}
/* Sidebar */
#browser .browser-content .browser-content-main .sidebar {
    background: rgba(40,40,40,0.7);
}
#browser .browser-content .browser-content-main .sidebar .display-sidebar {
    background: #5A93CC;
    color: #1c1c1c;
}
#browser .browser-content .browser-content-main .sidebar #playlists-scroll .playlist-style li {
    padding: 0.1rem 1rem;
    font-weight: 700;
}
#browser .browser-content .browser-content-main .sidebar #playlists-scroll .playlist-style li.room_history {
    border-width: 0 0 3px 0;
    -webkit-border-image: 
    -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(70,70,70,1) 50%, rgba(0, 0, 0, 0)) 100% 1;
    -o-border-image:
    -o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(70,70,70,1) 50%, rgba(0, 0, 0, 0)) 100% 1;
    -moz-border-image:
    -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(70,70,70,1) 50%, rgba(0, 0, 0, 0)) 100% 1;
}
#browser .browser-content .browser-content-main .sidebar #playlists-scroll .playlist-style li:hover span,
#browser .browser-content .browser-content-main .sidebar #playlists-scroll .playlist-style li.selected span {
    color: #222229;
}
#browser .browser-content .browser-content-main .sidebar #playlists-scroll .playlist-style li.selected,
#browser .browser-content .browser-content-main .sidebar #playlists-scroll .playlist-style li:hover:not(.selected),
#browser .browser-content .browser-content-main .sidebar .import-playlist:hover,
#browser .browser-content .browser-content-main .sidebar .create-playlist:hover {
    background: #5A93CC;
    color: #222229;
}
#browser .browser-content .browser-content-main .sidebar .import-playlist,
#browser .browser-content .browser-content-main .sidebar .create-playlist {
    background: rgba(50,50,50,1);
    color: #ddd;
}
#browser .browser-content .browser-content-main .sidebar .import-playlist span,
#browser .browser-content .browser-content-main .sidebar .create-playlist .create-playlist-display span {
    color: #5A93CC;
}
#browser .browser-content .browser-content-main .sidebar .import-playlist:hover span,
#browser .browser-content .browser-content-main .sidebar .create-playlist:hover .create-playlist-display span{
    color: #222229;
}
#browser .browser-content .browser-content-main .sidebar .create-playlist .create-playlist-form .icon-createplaylist {
    background: transparent;
}
#browser .browser-content .browser-content-main .sidebar .import-playlist:not(:hover) .icon-inbox,
#browser .browser-content .browser-content-main .sidebar .import-playlist:not(:hover) .icon-inbox:before,
#browser .browser-content .browser-content-main .sidebar .create-playlist .create-playlist-form:not(:hover) .icon-createplaylist,
#browser .browser-content .browser-content-main .sidebar .create-playlist .create-playlist-form:not(:hover) .icon-createplaylist:before {
    background: transparent;
    color: #5A93CC;
}

/* Video results container */
#browser .browser-content {
    border-radius: 0.5rem 0.5rem 0 0;
}
#browser .browser-content .browser-content-main .nano .loading {
    padding: 14px 24px;
    background: rgba(50,50,50,1);
    color: #eee;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 2px;
}
#browser .browser-content .browser-content-main .nano .content-videos {
    background: rgba(0,0,0,0);
}
#browser .browser-content .browser-content-main .nano .content-videos .playlist_info, 
#browser .browser-content .browser-content-main .nano .content-videos .queue_info {
    background: rgba(0,0,0,0);
    border-bottom: 1px solid rgba(70,70,70,1);
}
#browser .browser-content .browser-content-main .nano .content-videos .playlist_info .right a.text-button, 
#browser .browser-content .browser-content-main .nano .content-videos .queue_info .right a.text-button {
    background: rgba(50,50,50,1);
    color: #ccc;
    padding: 0.99rem 2rem;
    border: 0px solid rgba(50,50,50,1);
    margin: 0px 0px 0px 0px;
    border-bottom: 1px solid rgba(50,50,50,1);
}
#browser .browser-content .browser-content-main .nano .content-videos .playlist_info .right a, 
#browser .browser-content .browser-content-main .nano .content-videos .playlist_info .right a.icon-shuffle.shuffle-playlist, 
#browser .browser-content .browser-content-main .nano .content-videos .playlist_info .right a.icon-trash.delete-playlist {
    background: rgba(50,50,50,1);
    color: #ccc;
    padding: 1.25rem 2rem;
    border: 0px solid rgba(50,50,50,1);
    border-bottom: 1px solid rgba(50,50,50,1);
}
#browser .browser-content .browser-content-main .nano .content-videos .queue_info .right a.text-button.pause-queue.pause-queue-browser-bth {
    border-left: 1px solid rgba(50,50,50,1);
}
#browser .browser-content .browser-content-main .nano .content-videos .queue_info .right a.text-button.clear-queue.clear-queue-browser-bth {
    border-right: 1px solid rgba(50,50,50,1);
    border-left: 1px solid rgba(50,50,50,1);
}
#browser .browser-content .browser-content-main .nano .content-videos .playlist_info .right a.icon-editplaylist:hover,
#browser .browser-content .browser-content-main .nano .content-videos .playlist_info .right a.icon-shuffle.shuffle-playlist:hover, 
#browser .browser-content .browser-content-main .nano .content-videos .playlist_info .right a.icon-trash.delete-playlist:hover,
#browser .browser-content .browser-content-main .nano .content-videos .playlist_info .right a.text-button:hover, 
#browser .browser-content .browser-content-main .nano .content-videos .queue_info .right a.text-button:hover {
    background: rgba(60,60,60,1);
    color: #fff;
}
#browser .browser-content .browser-content-main .nano .content-videos .queue_info .right a.icon-shuffle,
#browser .browser-content .browser-content-main .nano .content-videos .queue_info .right a.icon-lock.room-queue-lock,
#browser .browser-content .browser-content-main .nano .content-videos .queue_info .right a.icon-unlocked.room-queue-unlock {
    background: rgba(50,50,50,1);
    color: #ddd;
    padding: 1.22rem 2.8rem;
    border: 1px solid rgba(50,50,50,1);
}
#browser .browser-content .browser-content-main .nano .content-videos .queue_info .right a.icon-shuffle:hover,
#browser .browser-content .browser-content-main .nano .content-videos .queue_info .right a.icon-lock.room-queue-lock:hover,
#browser .browser-content .browser-content-main .nano .content-videos .queue_info .right a.icon-unlocked.room-queue-unlock:hover {
    background: rgba(60,60,60,1);
    color: #fff;
}
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item, 
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item, 
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item, 
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .search-item {
    background: rgba(0,0,0,0);
    border: 1px solid rgba(50,50,50,1);
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid rgba(70,70,70,1);
    cursor: default;
    margin-left: 1px;
}
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item.selected, 
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item.selected, 
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item.selected, 
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .search-item.selected {
    border: 1px solid #5A93CC;
    margin-left: 0px;
}
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .search-item .description .preview,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item .description .preview,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .description .preview, 
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .description .preview {
    color: #5A93CC;
    cursor: pointer;
}
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item .description .dubs-display,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item .description .playedby,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .description .playedby {
    color: #aaa;
    font-weight: 400;
}
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item .description .dubs-display b,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item .description .playedby b,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .description .playedby b {
    color: #eee;
}
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .actions .text-button.pause_dj_all:hover,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .actions .img_bg.remove_icon:hover,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .actions .set_song_to_top_queue:hover,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .actions .img_bg.add_to_playlist:hover,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .actions .text-button.remove_dj_all:hover,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .search-item .actions .img_bg.add_to_queue:hover,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .search-item .actions .img_bg.add_to_playlist:hover,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item .actions .img_bg.add_to_queue:hover,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item .actions .img_bg.add_to_playlist:hover,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .actions .img_bg.remove_icon:hover,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .actions .img_bg.add_to_queue:hover,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .actions .set_song_to_top_queue:hover,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .actions .img_bg.add_to_playlist:hover,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .browserPlaylistItems.display-mod-controls .room-queue-item .actions .remove_dj:hover, 
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .browserPlaylistItems.display-mod-controls .room-queue-item .actions .set_song_to_top_queue:hover {
    background: #444;
    color: #fff;
}
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .actions .text-button.pause_dj_all,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .actions .img_bg.remove_icon,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .actions .set_song_to_top_queue,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .actions .img_bg.add_to_playlist,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .actions .text-button.remove_dj_all,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item .actions .img_bg.add_to_queue,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item .actions .img_bg.add_to_playlist,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .actions .img_bg.remove_icon,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .actions .img_bg.add_to_queue,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .actions .set_song_to_top_queue,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .actions .img_bg.add_to_playlist,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .browserPlaylistItems.display-mod-controls .room-queue-item .actions .remove_dj, 
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .browserPlaylistItems.display-mod-controls .room-queue-item .actions .set_song_to_top_queue {
    background: #333;
    color: #eee;
    border: 1px solid rgba(90,90,90,1);
}
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .actions .img_bg.remove_icon,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .actions .img_bg.remove_icon,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item .actions .img_bg.add_to_playlist,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .browserPlaylistItems.display-mod-controls .room-queue-item .actions .remove_dj {
    margin: .3rem 4.5rem 0 0;
}
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item:hover .timeDisplay, 
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .search-item:hover .timeDisplay,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item:hover .timeDisplay, 
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item:hover .timeDisplay {
    display: block;
}
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .actions .img_bg.add_to_playlist span.icon-heart:before,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item .actions .img_bg.add_to_playlist span.icon-heart:before,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .actions .img_bg.add_to_playlist span.icon-heart:before {
    color: #eee;
}
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .actions .img_bg.add_to_playlist:hover span.icon-heart:before,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item .actions .img_bg.add_to_playlist:hover span.icon-heart:before,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .actions .img_bg.add_to_playlist:hover span.icon-heart:before {
    color: #fff;
}
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .display-error, 
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .display-success, 
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item .display-error, 
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item .display-success, 
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .search-item .display-error, 
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .search-item .display-success,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .display-error, 
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .display-success {
    background: #444;
    color: #ddd;
    font-size: .8rem;
}
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item .description .skipped {
    color: #0ff;
}
#browser .browser-content #import-playlist-container,
#addToPlaylistFloatContainer {
    background: rgba(50,50,50,1);
    border-radius: 1rem;
}
#addToPlaylistFloatContainer .create-playlist-header {
    color: #ddd;
}
#addToPlaylistFloatContainer .create-playlist-header .icon-close {
    font-size: 1.1rem;
    margin-left: 0;
    margin-top: .5rem;
    cursor: pointer;
    float: right;
}
#browser .browser-content #import-playlist-container .playlist-type-select span:hover,
#addToPlaylistFloatContainer .create-playlist-header span:hover.icon-close:before{
    color: #fff;
}
#addToPlaylistFloatContainer .create-playlist-input input {
    border-bottom: 1px solid #55555a;
}
#addToPlaylistFloatContainer .playlist-list-action li {
    border-bottom: 1px solid #33333a;
}
#addToPlaylistFloatContainer .playlist-list-action li:hover {
    background: #5de514;
    color: #222229;
    font-weight: 700;
}
#addToPlaylistFloatContainer .create-playlist-input .icon-add {
    background: none;
    color: #5de514;
    cursor: pointer;
}
#addToPlaylistFloatContainer .create-playlist-input .icon-add:hover {
    background: #5de514;
    color: #222229;
}
#browser .browser-content #import-playlist-container .import-playlist-youtube span,
#browser .browser-content #import-playlist-container .close-import-playlist {
    background: transparent;
    color: #ddd;
}
#browser .browser-content #import-playlist-container .import-playlist-youtube span:hover,
#browser .browser-content #import-playlist-container .close-import-playlist:hover {
    background: transparent;
    color: #5de514;
}
#browser .browser-content #import-playlist-container .import-playlist-soundcloud span, 
#browser .browser-content #import-playlist-container .import-playlist-youtube span {
    background: #5de514;
    color: #222;
}
#browser .browser-content #import-playlist-container .err-message, #browser .browser-content #import-playlist-container .loading-import {
    color: #5de514;
}

    /* Video preview */
.playerPreview {
    background: rgba(30,30,30,1);
    padding: 0.5rem;
}
.playerPreview .player-preview-container-wrapper .close {
    border-top-right-radius: 1rem;
    background: rgba(30,30,30,1);
    color: #aaa;
    top: 0;
    right: 0;
}
.playerPreview .player-preview-container-wrapper .close:hover {
    background: rgba(30,30,30,1);
    color: #fff;
}
.playerPreview .player-preview-container-wrapper .buffering, 
.playerPreview .player-preview-container-wrapper .error, 
.playerPreview .player-preview-container-wrapper .loading, 
.playerPreview .player-preview-container-wrapper .replay {
    color: #222229;
    background: #5de514;
}
.playerPreview .player-preview-container-wrapper .controlContainer .progressContainer .loaded,
.playerPreview .player-preview-container-wrapper .controlContainer .progressContainer .progress {
    background: #5de514;
}

.playerPreview .player-preview-container-wrapper .ui-slider-range,
.playerPreview .player-preview-container-wrapper .ui-slider-handle:hover {
    background: #5de514;
}
.playerPreview .player-preview-container-wrapper .ui-slider-handle {
    background: #eee;
}

/* Queue button */
#main_player .play-song-link-container .play-song-link-browser {
	margin-bottom: 0px;
	background: none;
	border-radius: 10px;
    background: rgba(15,15,15,0.66);
	z-index: 1;
}

#main_player .play-song-link-container .play-song-link {
	display:none!important;
}

#main_player .play-song-link-container .play-song-link-browser:hover i {
    color: #5de514;
}

#main_player .play-song-link-container .play-song-link-browser:hover {
    color: #5de514;
}




                    /*            */
                    /*            */
					/*   Player   */
					/* controller */
					/*            */
#player-controller {
    background: rgba(0,0,0,0);
}
#player-controller .left {
    background: rgba(0,0,0,0);
}
#player-controller .right {
    background: rgba(0,0,0,0);
}
#player-controller .left ul li.imgEl {
    cursor: pointer;
}
#player-controller .imgEl img {
    border-radius: 0px;
    margin: 0px;
    max-width: 100%;
}
#player-controller .left ul li.infoContainer .infoContainerInner {
    padding: 0px;
}
#player-controller .left ul li.infoContainer .infoContainerInner .currentDJSong {
    color: #ffffff;
    font-size: .95rem;
}
#player-controller .left ul li.infoContainer .infoContainerInner .currentTime,
#player-controller .left ul li.infoContainer .infoContainerInner .currentSong {
    color: #d20000!important;
}
#player-controller .left ul li.infoContainer .infoContainerInner .progressBg {
    background: #d20000;
    border-radius: 1rem;
    left: 1rem;
}
#player-controller .right ul li a.dubup:hover,
#player-controller .right ul li a.dubup.voted,
#player-controller .right ul li a.dubdown:hover,
#player-controller .right ul li a.dubdown.voted,
#player-controller .right ul li a.add-to-playlist-button.grabbed {
    background: rgba(0,0,0,0);
}
#player-controller .right ul li a.dubup.voted span,
#player-controller .right ul li a.dubup:hover:not(.voted) .icon-arrow-up {
    color: #93CC5A;
}
#player-controller .right ul li a,
#player-controller .right ul li a.dubup:hover:not(.voted) span,
#player-controller .right ul li a.dubup .icon-arrow-up,
#player-controller .right ul li a.dubdown:hover:not(.voted) span,
#player-controller .right ul li a.dubdown .icon-arrow-down,
#player-controller .right ul li a.add-to-playlist-button.grabbed span,
#player-controller .right ul li a.add-to-playlist-button:hover span,
#player-controller .right ul li a span.icon-heart:before {
    color: #ccc;
}
#player-controller .right ul li a.dubdown.voted span,
#player-controller .right ul li a.dubdown:hover:not(.voted) .icon-arrow-down {
    color: #FF4060;
}
#player-controller .right ul li a:hover span.icon-heart:before,
#player-controller .right ul li a.add-to-playlist-button.grabbed span,
#player-controller .right ul li a.add-to-playlist-button.grabbed .icon-heart:before {
    color: #CC5A93;
}
#player-controller .right ul li .display-browser:hover .icon-playlist {
    color: #5A93CC;
}
					/*			*/
					/*   Chat   */
					/*			*/
#main-room .right_section {
    background: rgba(20,20,20,0.66);
    border-radius: 0px;
    border: none;
}